<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>注册</h1>
    <form id="regForm">
        登录名：<input type="text" name="loginName" v-model="loginName"><br>
        密码：<input type="text" name="password" v-model="password"><br>
        用户名：<input type="text" name="userName" v-model="userName"><br>
        <a @click="reg">注册</a>
    </form>
</body>
<script>
    var regVue=new Vue({
        el: "#regForm",
        data:{
            loginName:"",
            password:"",
            userName:""
        },
        methods:{
            reg:function () {
                console.log(this.loginName);
                axios({
                    url: "user/reg",
                    method:"post",
                    data:{
                        "loginName": this.loginName,
                        'password': this.password,
                        "userName":this.userName
                    }
                }).then(function (response) {
                    if (response.data=="ok"){
                        window.location="login.html";
                    }else{
                        alert(response.data)
                    }
                }).catch(function (error) {
                    alert("注册失败！");
                })
            }
        }

    });
</script>
</html>